#sidebar-wrapper {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
    background-color: #f8f9fa;
    overflow-x: hidden;
    transition: all 0.3s;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 250px;
  }
  
  #page-content-wrapper {
    min-width: 100%;
  }
  
  .container-fluid {
    margin-left: 250px;
  }
  